* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.logo-rock {
  width: 30px;
  cursor: pointer;
}

.logo-onebitcode {
  width: 200px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttonHeader {
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 15px;
  color: #000000;
  gap: 20px;
  animation-name: nomedaanimacao;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes nomedaanimacao {
  0% {
    background-color: aqua;
    border-color: #ffffff;
  }
  25% {
    background-color: rgb(255, 217, 0);
    border-color: #ff0000;
  }
  50% {
    background-color: rgb(10, 190, 34);
    border-color: #0044ff;
  }
  75% {
    background-color: rgb(255, 0, 191);
    border-color: #ff0000;
  }
  100% {
    background-color: rgb(255, 0, 34);
  }
}

.buttonHeader2 {
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: aqua;
  color: #000000;
  cursor: pointer;
}

.buttonHeader2:hover {
  animation-name: nomedaani;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes nomedaani {
  0% {
    background-color: #01ff16;
    border-color: #000000;
  }
  25% {
    background-color: rgb(255, 217, 0);
    border-color: #ff0000;
  }
  50% {
    background-color: rgb(10, 190, 34);
    border-color: #0044ff;
  }
  75% {
    background-color: rgb(255, 0, 191);
    border-color: #ff0000;
  }
  100% {
    background-color: rgb(255, 0, 34);
  }
}

@media (max-width: 2560px) {
  .logo-rock {
    width: 60px;
    cursor: pointer;
  }

  .logo-onebitcode {
    width: 400px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  .buttonHeader {
    font-size: 40px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }

  .buttonHeader2 {
    font-size: 40px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }
}

@media (max-width: 2150px) {
  .logo-rock {
    width: 50px;
    cursor: pointer;
  }

  .logo-onebitcode {
    width: 350px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  .buttonHeader {
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }

  .buttonHeader2 {
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }
}

@media (max-width: 1500px) {
  .logo-rock {
    width: 40px;
    cursor: pointer;
  }

  .logo-onebitcode {
    width: 270px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  .buttonHeader {
    font-size: 25px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }

  .buttonHeader2 {
    font-size: 25px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }
}

@media (max-width: 1150px) {
  .logo-rock {
    width: 35px;
    cursor: pointer;
  }

  .logo-onebitcode {
    width: 250px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  .buttonHeader {
    font-size: 23px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }

  .buttonHeader2 {
    font-size: 23px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }
}

@media (max-width: 950px) {
  .logo-rock {
    width: 30px;
    cursor: pointer;
  }

  .logo-onebitcode {
    width: 200px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  .buttonHeader {
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }

  .buttonHeader2 {
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
    gap: px;
  }
}

@media (max-width: 800px) {
  .logo-rock {
    width: 28px;
    cursor: pointer;
  }

  .logo-onebitcode {
    width: 200px;
  }

  .buttons {
    display: flex;
    gap: 5px;
  }

  .buttonHeader {
    font-size: 17px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
  }

  .buttonHeader2 {
    font-size: 17px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #000000;
  }
}
